
.container {
    /*display: flex;*/
    /*justify-content: space-between;*/
    padding: 20px;
    border: 1px solid blue;
    border-radius: 10px;
}

.container h2{
    text-align: center;
    margin: auto;
    display: block;
    justify-content: space-between
}

.cont-int{
    display: flex; justify-content: space-between;
}

.left {
    width: 48%;
    padding-top: 8%;
}

.right {
    width: 48%;
    padding-top: 8%;
}

.contact-form {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius:  20px;
    width: 80%;
    max-width: 800px;
    height: 300px;
    max-height: 600px;
}

.contact-form h1{
    font-style: bolder; font-size:medium;
}

.contact-form label {
    display: flex; text-align: justify;
    margin-bottom: 5px;

}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.contact-form .send {
    padding: 10px 20px;
    background-color: #089f30;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.contact-form .clean{
    padding: 10px 20px;
    background-color: #ababab;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.contact-info label{
    display: flex;
    margin-bottom: 5px;
}

.contact-info  {
    font-weight: bold;
    justify-content: space-around ;
    border-radius:  20px;
    padding: 10px;
    margin-bottom: 10px
}
.contact-info p a{
    color: #008cff;
}

.contact-info2{
    font-weight: bold;
    justify-content: space-around ;
    border-radius:  20px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(181, 180, 180);
}
.contact-info2 h4{
    font-size: larger;
}
.contact-info2 p{
    font-size: large;
    /*z-index: 0;*/
}

.logo { 
    width: 200px;
    height: 180px;
    margin-left: 65%; margin-top: -80%; margin-bottom: 5%;
    justify-content: flex-end;
    align-items: center;
}

.Migas {
    text-align: right;
}
